<div class="ui segment">
	<h2 class="ui dividing header teal"><i class="icon edit"></i>{{$ctrl.servicesTitle}}</h2>
	<div class="ui grid">
		<div class="row">
			<div class="sixteen wide column">
				<!-- ========== Inicio del modal ========== -->
				<div class="ui united modal" id="modalServicios">
					<div>
						<div class="ui large form segment" >
							<h2 class="ui dividing header teal"><i class="icon edit"></i>{{$ctrl.addService}}</h2>
							<div class="ui top attached tabular large menu">
								<a class="item active" data-tab="software"><i class="large icon database"></i>{{$ctrl.software}}</a>
								<a class="item" data-tab="acceso_internet"><i class="large icon world"></i>{{$ctrl.internet}}</a>
								<a class="item" data-tab="cuentas_usuario"><i class="large icon users"></i>{{$ctrl.userAccount}}</a>
							</div>

							<!-- SOFTWARE -->
							<div class="ui bottom attached active tab segment" data-tab="software">
								<div class="ui pointing secondary menu">
									<a ng-click="$ctrl.tipoSoftware=$ctrl.softwareInstallation" class="item active" data-tab="instalacion_software"><i class="large icon disk outline"></i>{{$ctrl.softwareInstallation}}</a>
									<a ng-click="$ctrl.tipoSoftware=$ctrl.softwareDownload" class="item" data-tab="descarga_software"><i class="large icon download"></i>{{$ctrl.softwareDownload}}</a>
								</div>
								<!-- INSTALACION DE SOFTWARE -->
								<div class="ui active tab" data-tab="instalacion_software">
									<div class="ui large form segment">
										<div class="field">
											<label>{{$ctrl.nameSoftware}}</label>
											<input placeholder="Nombre del software" ng-model="$ctrl.nombre" type="text" name="nombre">
										</div>
										<div class="eight wide field">
											<label>{{$ctrl.versionSoftware}}</label>
											<input ng-model="$ctrl.version" type="text" name="version">
										</div>
										<div class="eight wide field">
											<label>{{$ctrl.numberEquipment}}</label>
											<input ng-model="$ctrl.numero" type="text" name="numero">
										</div>
										<div class="eight wide field">
											<label>{{$ctrl.classroom}}</label>
											<input ng-model="$ctrl.aula" type="text" name="aula">
										</div>
										<div class="eight wide field">
											<label>{{$ctrl.matter}}</label>
											<input ng-model="$ctrl.materia" type="text" name="materia">
										</div>
										<div class="eight wide field">
											<label>{{$ctrl.dateLimit}}</label>
											<input ng-model="$ctrl.fecha" type="text" name="fecha">
										</div>
										<div class="field">
											<label>{{$ctrl.commentInstallation}}</label>
											<textarea ng-model="$ctrl.comentarios" rows="4" required></textarea>
										</div>
									</div>
								</div>

								<!-- DESCARGA DE SOFTWARE -->
								<div class="ui tab" data-tab="descarga_software">
									<div class="ui large form segment">
										<div class="eight wide field">
											<label>{{$ctrl.nameDownload}}</label>
											<input ng-model="$ctrl.nombreDescarga" type="text" name="nombreDescarga">
										</div>
										<div class="eight wide field">
											<label>{{$ctrl.versionDownload}}</label>
											<input ng-model="$ctrl.versionDescarga" type="text" name="versionDescarga">
										</div>
										<div class="eight wide field">
											<label>{{$ctrl.dateDownload}}</label>
											<input ng-model="$ctrl.fechaDescarga" type="text" name="fechaDescarga">
										</div>
										<div class="field required">
											<label>{{$ctrl.commentDownload}}</label>
											<textarea ng-model="$ctrl.comentarios" rows="4" required></textarea>
										</div>
									</div>
								</div>
								<!-- Botón para guardar los datos del servicio de software -->
								<button ng-click="$ctrl.saveServiceSoftware()" class="ui button teal">{{$ctrl.send}}</button>
							</div>

							<!-- INTERNET -->
							<div class="ui bottom attached tab segment" data-tab="acceso_internet">
								<div class="ui pointing secondary menu">
									<a ng-click="$ctrl.mode=$ctrl.externalEquipment" class="item active" data-tab="equipo_externo" name="mode"><i class="large icon laptop"></i>{{$ctrl.externalEquipment}}</a>
									<a ng-click="$ctrl.mode=$ctrl.internalEquipment" class="item" data-tab="equipo_interno" name="mode"><i class="large icon desktop"></i>{{$ctrl.internalEquipment}}</a>
								</div>
								<div class="ui active tab segment" data-tab="equipo_externo">
									<div class="ui large form">
										<div class="eight wide field">
											<label>{{$ctrl.macAddress}}</label>
											<input ng-model="$ctrl.mac" type="text" name="mac">
										</div>
										<div class="field">
											<label>{{$ctrl.connectionPlace}}</label>
											<div class="fields">
												<div class="six wide field">
													<div class="grouped fields">
														<div class="field">
															<div class="ui radio checkbox">
																<input ng-model="$ctrl.aulas" type="radio" name="lugar_conexion">
																<label>{{$ctrl.classrooms}}</label>
															</div>
														</div>
														<div class="field">
															<div class="ui radio checkbox">
																<input ng-model="$ctrl.biblioteca" type="radio" name="lugar_conexion">
																<label>{{$ctrl.library}}</label>
															</div>
														</div>
														<div class="field">
															<div class="ui radio checkbox">
																<input ng-model="$ctrl.asistentes" type="radio" name="lugar_conexion">
																<label>{{$ctrl.assistantBuilding}}</label>
															</div>
														</div>
													</div>
												</div>
												<div class="six wide field">
													<div class="grouped fields">
														<div class="field">
															<div class="ui radio checkbox">
																<input  ng-model="$ctrl.profesores" type="radio" name="lugar_conexion">
																<label>{{$ctrl.teachersBuilding}}</label>
															</div>
														</div>
														<div class="field">
															<div class="ui radio checkbox">
																<input  ng-model="$ctrl.laboratorio" type="radio" name="lugar_conexion">
																<label>{{$ctrl.electronicLaboratory}}</label>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="ui tab segment" data-tab="equipo_interno">
									<div class="ui large form">
										<div class="field eight wide">
											<label>{{$ctrl.classroom}}</label>
											<input  ng-model="$ctrl.aulaInternet" type="text" name="aula">
										</div>
										<div class="field eight wide">
											<label>{{$ctrl.dateEnd}}</label>
											<input ng-model="$ctrl.fechaTermino" type="text" name="fecha">
										</div>
										<div class="field eight wide">
											<label>{{$ctrl.initialHour}}</label>
											<input ng-model="$ctrl.horaInicio" type="text" name="hora_inicio">
										</div>
										<div class="field eight wide">
											<label>{{$ctrl.hourEnd}}</label>
											<input ng-model="$ctrl.horaTermino" type="text" name="hora_termino">
										</div>
										<div class="field">
											<label>{{$ctrl.url}}</label>
											<textarea ng-model="$ctrl.urls" rows="2" name="urls"></textarea>
										</div>
									</div>
								</div>
								<!-- Botón para guardar los datos de Servicios de Internet -->
								<button ng-click="$ctrl.saveServiceInternet()" class="ui button teal">{{$ctrl.send}}</button>
							</div>

							<!-- CUENTAS DE USUARIO -->
							<div class="ui bottom attached tab segment" data-tab="cuentas_usuario">
								<div class="ui large form  segment">
									<div class="field">
										<label>{{$ctrl.platform}}</label>
										<div class="grouped fields">
											<div class="field">
												<div class="ui radio checkbox">
													<input ng-click="$ctrl.plataforma=$ctrl.aulaVirtual" type="radio" name="plataforma">
													<label>{{$ctrl.aulaVirtual}}</label>
												</div>
											</div>
											<div class="field">
												<div class="ui radio checkbox">
													<input ng-click="$ctrl.plataforma=$ctrl.kabl" type="radio" name="plataforma">
													<label>{{$ctrl.kabl}}</label>
												</div>
											</div>
										</div>
									</div>
									<div class="field">
										<label>{{$ctrl.activity}}</label>
										<div class="grouped fields">
											<div class="field">
												<div class="ui radio checkbox">
													<input ng-model="$ctrl.actividad" type="radio" name="actividad">
													<label>{{$ctrl.accessPlatform}}</label>
												</div>
											</div>
											<div class="field">
												<div class="ui radio checkbox">
													<input ng-model="$ctrl.actividad" type="radio" name="actividad">
													<label>{{$ctrl.recoveryPassword}}</label>
												</div>
											</div>
										</div>
									</div>					
									<div class="field">
										<label>{{$ctrl.descriptionProblem}}</label>
										<textarea ng-model="descripcion" rows="4"></textarea>
									</div>
									<button  ng-click="$ctrl.saveServiceAccount()" class="ui button teal">{{$ctrl.send}}</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Fin del modal -->
				<button data-modal="modalServicios" id="call-modals" class="ui button"><i class="icon add circle"></i>{{$ctrl.addService}}</button>
			</div>
		</div>
	</div>
	<!-- ========== Tabla de servicios ========== -->
	<h2>{{$ctrl.listServices}}</h2>
	<div class="ui top attached tabular large menu">
		<a class="item active" data-tab="software"><i class="large icon database"></i>{{$ctrl.software}}</a>
		<a class="item" data-tab="acceso_internet"><i class="large icon world"></i>{{$ctrl.internet}}</a>
		<a class="item" data-tab="cuentas_usuario"><i class="large icon users"></i>{{$ctrl.userAccount}}</a>
	</div>
	<div class="ui bottom attached active tab segment" data-tab="software">
		<table class="ui celled table">
			<thead>
				<tr>
					<th>{{$ctrl.code}}</th>
					<th>{{$ctrl.date}}</th>
					<th>{{$ctrl.solicitud}}</th>
					<th>{{$ctrl.status}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat = "service in $ctrl.servicess">
					<td>{{service.softwareServiceId}}</td>
					<td>{{service.fechaInit}}</td>
					<td>{{service.serviceMode}}</td>
					<td ng-if="service.status == 'En Progreso'"><button class="ui button blue fluid">{{service.status}}</button></td>
					<td ng-if="service.status == 'Atendido'"><button class="ui button green fluid">{{service.status}}</button></td>
					<td ng-if="service.status == 'A destiempo'"><button class="ui button yellow fluid">{{service.status}}</button></td>
					<td ng-if="service.status == 'Cancelado'"><button class="ui button red fluid">{{service.status}}</button></td>
				</tr>
			</tbody>
		</table>
	</div>			
		<div class="ui bottom attached tab segment" data-tab="acceso_internet">
				<table class="ui celled table">
					<thead>
						<tr>
							<th>{{$ctrl.code}}</th>
							<th>{{$ctrl.date}}</th>
							<th>{{$ctrl.solicitud}}</th>
							<th>{{$ctrl.status}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat = "service in $ctrl.servicesi">
							<td>{{service.internetServiceId}}</td>
							<td>{{service.fechaInit}}</td>
							<td>{{service.serviceMode}}</td>
							<td ng-if="service.status == 'En Progreso'"><button class="ui button blue fluid">{{service.status}}</button></td>
							<td ng-if="service.status == 'Atendido'"><button class="ui button green fluid">{{service.status}}</button></td>
							<td ng-if="service.status == 'A destiempo'"><button class="ui button yellow fluid">{{service.status}}</button></td>
							<td ng-if="service.status == 'Cancelado'"><button class="ui button red fluid">{{service.status}}</button></td>
						</tr>
					</tbody>
				</table>	
		</div>
		<div class="ui bottom attached tab segment" data-tab="cuentas_usuario">
			<table class="ui celled table">
			<thead>
				<tr>
					<th>{{$ctrl.code}}</th>
					<th>{{$ctrl.date}}</th>
					<th>{{$ctrl.solicitud}}</th>
					<th>{{$ctrl.status}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat = "service in $ctrl.servicesc">
					<td>{{service.cuentaServiceId}}</td>
					<td>{{service.fechaInit}}</td>
					<td>{{service.serviceMode}}</td>
					<td ng-if="service.status == 'En Progreso'"><button class="ui button blue fluid">{{service.status}}</button></td>
					<td ng-if="service.status == 'Atendido'"><button class="ui button green fluid">{{service.status}}</button></td>
					<td ng-if="service.status == 'A destiempo'"><button class="ui button yellow fluid">{{service.status}}</button></td>
					<td ng-if="service.status == 'Cancelado'"><button class="ui button red fluid">{{service.status}}</button></td>
				</tr>
			</tbody>
		</table>						
		</div>	
	<!-- ========== Tabla de servicios ==========-->
</div>
		