<!--Modal add FAQ-->
<div class="ui small modal eleven wide" id="modal1">
	<form ng-submit="$ctrl.saveFaq()">
		<div class="ui large form segment" >
			<h2 class="ui dividing header teal"><i class="icon edit"></i>Nueva pregunta</h2>
			<div class="fields">
				<div class="field sixteen wide required">
					<label>Pregunta</label>
					<input ng-model="$ctrl.title" type="text" required>
				</div>
			</div>
			<div class="fields">
				<div class="field sixteen wide required">
					<label>Respuesta</label>
					<textarea ng-model="$ctrl.content" rows="4" required></textarea>
				</div>
			</div>
			<button class="ui button teal" >Guardar</button>
		</div>
	</form>
</div>
<!--Fin Modal FAQ-->


<div class="ui segment">
	<h2 class="ui dividing header teal"><i class="icon help circle outline"></i>Preguntas Frecuentes</h2>
	<div class="ui grid">
		<div class="row">
			<div class="sixteen wide column right aligned">
				<button data-modal="modal1" id="call-modals" class="ui button">
					<i class="icon add circle"></i>
					Agregar pregunta
				</button>		
			</div>
		</div>
	</div>

	<div ng-repeat=" faq in $ctrl.faqs track by $index " class="ui styled fluid accordion">
		<div class="title">
		   	<i class="dropdown icon"></i>
		   	{{faq.title}}
		</div>
		<div class="content">
		  	<p class="transition hidden">
		  		{{faq.content}}
		  	</p>
			
			<div class="ui grid right aligned transition hidden">
		    	<div class="row">
		    		<div class="column">
			    		<button class="ui button green"><i class="icon edit"></i>Editar</button>
						<button class="ui button orange"><i class="icon trash"></i>Borrar</button>		
		    		</div>
		    	</div>
			</div>
		</div>
		<div ng-if="$last == $index">
			<script type="text/javascript">
		  		$('.ui.accordion').accordion();
		  		$('#modal1').modal('attach events', '#call-modals');
		  	</script>
		</div>
	</div>
</div>