<!--Modal add FAQ-->
<div class="ui small modal eleven wide" id="modal1">
	<form ng-submit="$ctrl.saveFaq()">
		<div class="ui large form segment" >
			<h2 class="ui dividing header teal"><i class="icon edit"></i>Nueva pregunta</h2>
			<div class="fields">
				<div class="field sixteen wide required">
					<label>Pregunta</label>
					<input ng-model="$ctrl.title" type="text" required>
				</div>
			</div>
			<div class="fields">
				<div class="field sixteen wide required">
					<label>Respuesta</label>
					<textarea ng-model="$ctrl.content" rows="4" required></textarea>
				</div>
			</div>
			<input class="ui button teal" type="submit" value="Guardar"/>
		</div>
	</form>
</div>
<!--Fin Modal FAQ-->


<div class="ui segment">
	<h2 class="ui dividing header teal"><i class="icon help circle outline"></i>Preguntas Frecuentes</h2>
	
	<div class="ui grid">
		<div class="row">
			<div class="sixteen wide column right aligned">
				<button ng-click="$ctrl.nuevafaq()" data-modal="modal1" class="ui button call-modals">
					<i class="icon add circle"></i>
					Agregar pregunta
				</button>		
			</div>
		</div>
	</div>
	<br>
	<div ng-repeat=" faq in $ctrl.faqs track by $index " class="ui styled fluid accordion">
		<div class="title">
		   	<i class="dropdown icon"></i>
		   	{{faq.title}}
		</div>
		<div class="content">
		  	<p class="transition hidden">
		  		{{faq.content}}
		  	</p>
			
			<div class="ui grid right aligned transition hidden">
		    	<div class="row">
		    		<div class="column">
			    		
			    		<button ng-click="$ctrl.updatefaq(faq)" data-modal="modal1"  class="ui button green call-modals">
			    			<i class="icon edit"></i>
			    			Editar
			    		</button>
						<button ng-click="$ctrl.deletefaq(faq.idfaq)" class="ui button orange">
							<i class="icon trash"></i>
							Borrar
						</button>		
		    		</div>
		    	</div>
			</div>
		</div>
		<div ng-if="$last">
			<script type="text/javascript">
				$(document).ready(function(e){
					$('.ui.accordion').accordion();
		  			$('#modal1').modal('attach events', '.call-modals');
				});
			</script>
		</div>
	</div>
</div>