<div class="ui segment">
	<h2 class="ui dividing header teal"><i class="icon edit"></i>{{$ctrl.failReports}}</h2>
	<div class="ui grid">
		<div class="row">
			<div class="sixteen wide column">
				<!-- Inicio del modal -->
				<div class="ui united modal" id="modal1">
					<form ng-submit="$ctrl.saveReport()">
						<div class="ui large form segment" >
							<h2 class="ui dividing header teal"><i class="icon edit"></i>{{$ctrl.addReport}}</h2>
							<div class="field eight wide">
								<label>{{$ctrl.location}}</label>
								<select ng-model="$ctrl.edificio" required>
									<option>{{$ctrl.classRoom}}</option>
									<option>{{$ctrl.assist}}</option>
									<option>{{$ctrl.library}}</option>
									<option>{{$ctrl.teachers}}</option>
									<option>{{$ctrl.rectory}}</option>
									<option>{{$ctrl.roomTransmit}}</option>
									<option>{{$ctrl.viceRectoryA}}</option>
									<option>{{$ctrl.viceRectoryM}}</option>
								</select>
							</div>

							<div class="field eight wide">
								<label>{{$ctrl.equipment}}</label>
								<select ng-model="$ctrl.equipo" required>
									<option>{{$ctrl.speaker}}</option>
									<option>{{$ctrl.camera}}</option>
									<option>{{$ctrl.proy}}</option>
									<option>{{$ctrl.contacts}}</option>
									<option >{{$ctrl.cpu}}</option>
									<option>{{$ctrl.lamp}}</option>
									<option>{{$ctrl.table}}</option>
									<option>Monitor</option>
									<option>Mouse</option>
									<option>{{$ctrl.chair}}</option>
									<option>SMART</option>
									<option>{{$ctrl.keyboard}}</option>
								</select>
							</div>

							<div class="fields">
								<div class="field eight wide ">
									<label>{{$ctrl.inventary}}</label>
									<input ng-model="$ctrl.inventario" type="text" name="inventario">
								</div>
								<div class="field eight wide required">
									<label>{{$ctrl.OfficeCub}}</label>
									<input ng-model="$ctrl.ubicacion" type="number" name="num_aula" required>
								</div>
							</div>

							<div class="field required">
								<label>{{$ctrl.description}}</label>
								<textarea ng-model="$ctrl.descripcion" rows="4" required></textarea>
							</div>
							<button class="ui button teal" >{{$ctrl.send}}</button>

						</div>
					</form>
				</div>
				<!-- Fin del modal -->
				
				
				

				<button data-modal="modal1" id="call-modals" class="ui button"><i class="icon add circle"></i>{{$ctrl.addReport}}</button>
				<!--<a href="user.html"><button class="ui button"><i class="icon add circle"></i>{{$ctrl.failReports}}</button></a>-->
				
				<table class="ui celled table">
					<thead>
						<tr>
							<th>{{$ctrl.code}}</th>
							<th>{{$ctrl.date}}</th>
							<th>{{$ctrl.equipment}}</th>
							<th>{{$ctrl.status}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat = "report in $ctrl.reports track by $index">
							<td>{{report.idReporte}}</td>
							<td>{{report.fecha}}</td>
							<td>{{report.equipo}}</td>
							<td ng-if="report.estado == 'En Progreso'">
								<button ng-click="$ctrl.editReport(report)" data-modal="modal2" class="ui button blue fluid mddesk">	      
									{{report.estado}}
								</button>
							</td>
							
							<td ng-if="report.estado == 'Atendido'">
								<button ng-click="$ctrl.editReport(report)" data-modal="modal2" class="ui button green fluid mddesk">			{{report.estado}}
								</button>
							</td>
							
							<td ng-if="report.estado == 'A destiempo'">
								<button ng-click="$ctrl.editReport(report)" data-modal="modal2" class="ui button yellow fluid mddesk">
									{{report.estado}}
								</button>
							</td>
							
							<td ng-if="report.estado == 'Cancelado'">
								<button ng-click="$ctrl.editReport(report)" data-modal="modal2" class="ui button red fluid mddesk">
									{{report.estado}}
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
</div>
			